.gameboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  position: relative;
  margin: 2px;
}

.card .cardShade {
  position: absolute;
  height: 100%;
  width: 100%;
  background: blue;
  z-index: 2;
}

.card--picVisible .cardShade {
  display: none;
}

.card--2 {
  flex-basis: 48%;
}

.card--3 {
  flex-basis: 31%;
}

.card--4 {
  flex-basis: 23%;
}

.card--5 {
  flex-basis: 18%;
}